.project {
  display: flex;
  justify-content: center;

  &__list {
    margin: 20px 0;
  }

  &__title {
    opacity: 0;
    margin-bottom: 15px;

    &.dissolve {
      animation: dissolve 0.5s forwards;
    }
  }

  &__wrapper {
    display: flex;
    margin: 10px 0;

    @media (max-width: 900px) {
      flex-direction: column;
    }
  }

  &__item {
    margin: 10px;
    flex: 1;

    @media (max-width: 900px) {
      max-width: 700px;
      max-height: 100%;
      margin: 20px 50px;
    }

    @media (max-width: 400px) {
      margin: 20px 20px;
    }

    img {
      max-width: 100%;
      height: auto;
    }
  }
}
