.header__nav-text {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  opacity: 1;

  a {
    position: relative;
    color: #fff;
    text-decoration: none;
    margin: 0 40px;

    &::before {
      content: "";
      position: absolute;
      bottom: -5px;
      left: 50%;
      width: 0;
      height: 2px;
      background-color: white;
      transition: width 0.25s ease-in-out;
      transform: translateX(-50%);
    }

    &:hover {
      &::before {
        width: 100%;
      }
    }
  }
}
