.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100px;
  background-image: url(../../assets/backgrounds/header.png);
  background-size: cover;
  background-position: center;
  color: white;
}
