.experience {
  display: flex;
  border-bottom: 1px solid #ccc;
  padding: 30px 0;
  opacity: 1;

  &__list {
    padding-bottom: 20px;
    margin: 0 25%;

    .experience__list-title {
      opacity: 0;

      &.dissolve {
        animation: dissolve 0.5s forwards;
      }
    }
  }

  &__list-item {
    margin: 20px 0;
    opacity: 0;

    &.dissolve {
      animation: dissolve 0.5s forwards;
    }
  }
}
